name: Python CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Replace with your Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

   # - name: Lint with flake8
   #   run: |
   #     flake8 src/ tests/  # Adjust paths as needed

    - name: Run Tests
      run: |
        pytest tests/


  # If your project includes a deployment step, add a new job here
  # Example:
  # deploy:
  #   needs: build-and-test
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Deploy
  #     run: |
  #       # Your deployment commands
